.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.930000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.722000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.013000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.730469;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-2.754105px;}
._0{margin-left:-1.596103px;}
._1{width:31.200255px;}
._2{width:32.742250px;}
.fc3{color:rgb(227,44,45);}
.fc2{color:rgb(74,20,140);}
.fc1{color:rgb(0,87,155);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:42.000001px;}
.fs2{font-size:54.000001px;}
.fs1{font-size:84.000002px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.329938px;}
.yc{bottom:135.000018px;}
.yb{bottom:168.000016px;}
.y9{bottom:180.000016px;}
.ya{bottom:201.000015px;}
.y3{bottom:215.250009px;}
.y4{bottom:216.000009px;}
.y8{bottom:232.500009px;}
.y7{bottom:265.500007px;}
.y5{bottom:277.500007px;}
.y6{bottom:298.500006px;}
.yf{bottom:507.375019px;}
.yd{bottom:522.375018px;}
.ye{bottom:538.875018px;}
.y2{bottom:569.625019px;}
.h3{height:34.230001px;}
.h6{height:34.398001px;}
.h5{height:44.010001px;}
.h4{height:59.724001px;}
.h2{height:621.750022px;}
.h1{height:622.000000px;}
.h0{height:622.079960px;}
.w0{width:830.880000px;}
.w1{width:831.000000px;}
.x0{left:0.000000px;}
.x2{left:64.382817px;}
.x3{left:411.499999px;}
.x1{left:429.984381px;}
.x7{left:435.750006px;}
.x4{left:526.999970px;}
.x8{left:549.750025px;}
.x5{left:588.500015px;}
.x6{left:596.750015px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-3.672140pt;}
._0{margin-left:-2.128137pt;}
._1{width:41.600340pt;}
._2{width:43.656334pt;}
.fs0{font-size:56.000001pt;}
.fs2{font-size:72.000002pt;}
.fs1{font-size:112.000003pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.439917pt;}
.yc{bottom:180.000024pt;}
.yb{bottom:224.000022pt;}
.y9{bottom:240.000021pt;}
.ya{bottom:268.000020pt;}
.y3{bottom:287.000012pt;}
.y4{bottom:288.000013pt;}
.y8{bottom:310.000012pt;}
.y7{bottom:354.000010pt;}
.y5{bottom:370.000009pt;}
.y6{bottom:398.000008pt;}
.yf{bottom:676.500025pt;}
.yd{bottom:696.500024pt;}
.ye{bottom:718.500024pt;}
.y2{bottom:759.500025pt;}
.h3{height:45.640001pt;}
.h6{height:45.864001pt;}
.h5{height:58.680001pt;}
.h4{height:79.632002pt;}
.h2{height:829.000029pt;}
.h1{height:829.333333pt;}
.h0{height:829.439947pt;}
.w0{width:1107.840000pt;}
.w1{width:1108.000000pt;}
.x0{left:0.000000pt;}
.x2{left:85.843756pt;}
.x3{left:548.666665pt;}
.x1{left:573.312508pt;}
.x7{left:581.000008pt;}
.x4{left:702.666627pt;}
.x8{left:733.000033pt;}
.x5{left:784.666687pt;}
.x6{left:795.666687pt;}
}
