.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.942000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.036000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.720000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc4{color:rgb(74,20,140);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(13,47,66);}
.fc2{color:rgb(227,44,45);}
.fc3{color:rgb(0,87,155);}
.fs0{font-size:41.999998px;}
.fs2{font-size:54.029998px;}
.fs1{font-size:84.029996px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000013px;}
.yc{bottom:133.696146px;}
.y4{bottom:164.310617px;}
.yb{bottom:164.464913px;}
.yd{bottom:194.402745px;}
.ya{bottom:195.232902px;}
.ye{bottom:196.310296px;}
.y9{bottom:224.500860px;}
.y3{bottom:255.116123px;}
.y8{bottom:255.269608px;}
.y7{bottom:286.038358px;}
.y6{bottom:501.793858px;}
.yf{bottom:502.870541px;}
.y5{bottom:531.061106px;}
.y2{bottom:559.474359px;}
.h3{height:35.363999px;}
.h5{height:45.493258px;}
.h4{height:59.661298px;}
.h1{height:612.500000px;}
.h2{height:612.749974px;}
.h0{height:612.749987px;}
.w1{width:827.000000px;}
.w2{width:827.003870px;}
.w0{width:827.040000px;}
.x0{left:0.000000px;}
.x6{left:64.422002px;}
.x7{left:411.749239px;}
.x1{left:430.244214px;}
.x8{left:436.013982px;}
.x2{left:527.318954px;}
.x3{left:547.831489px;}
.x4{left:586.604976px;}
.x5{left:594.859487px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:55.999998pt;}
.fs2{font-size:72.039997pt;}
.fs1{font-size:112.039995pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000017pt;}
.yc{bottom:178.261529pt;}
.y4{bottom:219.080823pt;}
.yb{bottom:219.286551pt;}
.yd{bottom:259.203660pt;}
.ya{bottom:260.310536pt;}
.ye{bottom:261.747061pt;}
.y9{bottom:299.334480pt;}
.y3{bottom:340.154831pt;}
.y8{bottom:340.359477pt;}
.y7{bottom:381.384477pt;}
.y6{bottom:669.058478pt;}
.yf{bottom:670.494055pt;}
.y5{bottom:708.081474pt;}
.y2{bottom:745.965812pt;}
.h3{height:47.151998pt;}
.h5{height:60.657677pt;}
.h4{height:79.548397pt;}
.h1{height:816.666667pt;}
.h2{height:816.999966pt;}
.h0{height:816.999983pt;}
.w1{width:1102.666667pt;}
.w2{width:1102.671826pt;}
.w0{width:1102.720000pt;}
.x0{left:0.000000pt;}
.x6{left:85.896003pt;}
.x7{left:548.998985pt;}
.x1{left:573.658952pt;}
.x8{left:581.351976pt;}
.x2{left:703.091939pt;}
.x3{left:730.441986pt;}
.x4{left:782.139967pt;}
.x5{left:793.145983pt;}
}
