.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.930000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.722000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.013000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.730469;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-2.754000px;}
._0{margin-left:-1.596000px;}
._1{width:31.200001px;}
._2{width:32.742001px;}
.fc3{color:rgb(227,44,45);}
.fc2{color:rgb(74,20,140);}
.fc1{color:rgb(0,87,155);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:42.000002px;}
.fs2{font-size:54.000002px;}
.fs1{font-size:84.000003px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.329960px;}
.yc{bottom:135.000019px;}
.yb{bottom:168.000021px;}
.y9{bottom:180.000021px;}
.ya{bottom:201.000022px;}
.y3{bottom:215.249922px;}
.y4{bottom:215.999922px;}
.y8{bottom:232.499923px;}
.y7{bottom:265.499924px;}
.y5{bottom:277.499925px;}
.y6{bottom:298.499926px;}
.yf{bottom:507.375034px;}
.yd{bottom:522.375034px;}
.ye{bottom:538.875035px;}
.y2{bottom:569.625036px;}
.h3{height:34.230001px;}
.h6{height:34.398001px;}
.h5{height:44.010002px;}
.h4{height:59.724002px;}
.h2{height:621.750000px;}
.h1{height:622.000000px;}
.h0{height:622.079960px;}
.w0{width:830.880000px;}
.w1{width:831.000000px;}
.x0{left:0.000000px;}
.x2{left:64.382802px;}
.x3{left:411.500016px;}
.x1{left:429.984417px;}
.x7{left:435.750017px;}
.x4{left:527.000020px;}
.x8{left:549.750021px;}
.x5{left:588.500023px;}
.x6{left:596.750023px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-3.672000pt;}
._0{margin-left:-2.128000pt;}
._1{width:41.600002pt;}
._2{width:43.656002pt;}
.fs0{font-size:56.000002pt;}
.fs2{font-size:72.000003pt;}
.fs1{font-size:112.000004pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.439947pt;}
.yc{bottom:180.000026pt;}
.yb{bottom:224.000027pt;}
.y9{bottom:240.000028pt;}
.ya{bottom:268.000029pt;}
.y3{bottom:286.999897pt;}
.y4{bottom:287.999897pt;}
.y8{bottom:309.999897pt;}
.y7{bottom:353.999899pt;}
.y5{bottom:369.999900pt;}
.y6{bottom:397.999901pt;}
.yf{bottom:676.500045pt;}
.yd{bottom:696.500046pt;}
.ye{bottom:718.500047pt;}
.y2{bottom:759.500048pt;}
.h3{height:45.640002pt;}
.h6{height:45.864002pt;}
.h5{height:58.680002pt;}
.h4{height:79.632003pt;}
.h2{height:829.000000pt;}
.h1{height:829.333333pt;}
.h0{height:829.439947pt;}
.w0{width:1107.840000pt;}
.w1{width:1108.000000pt;}
.x0{left:0.000000pt;}
.x2{left:85.843737pt;}
.x3{left:548.666688pt;}
.x1{left:573.312556pt;}
.x7{left:581.000023pt;}
.x4{left:702.666694pt;}
.x8{left:733.000029pt;}
.x5{left:784.666697pt;}
.x6{left:795.666698pt;}
}
